html{ 
    background-image: linear-gradient(to left, white 0%, darksalmon 100%);
}
#nav_menu ul {
    list-style-type: none; 
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0; 
text-decoration: none;
background-color: darkgoldenrod;
color: white;
font-weight: bold;
border-right: 2px solid white;
}
#nav_menu ul li a.lastitem { 
   border-right: none;
}
a:focus, a:hover{
    font-style: italic;
    color:darksalmon;
    border: 3px blue;
    border-style: dotted solid;
}
#nav_menu ul li a.current { 
   color: yellow;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    margin: 15px auto;
    background-color: white;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url("../images/th.jpg");
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted darkgoldenrod;
    column-gap:2em;
    margin-left: 2em;
    border-top: 2px solid darkgoldenrod;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article h1 {
    clear: both;
    column-span: all;
}
aside {
    width: 20%;
    float: right;
    background-color: darkgoldenrod;
    border: 1px solid black;
    padding: 2em;
    position: fixed;
    right: 0;
    bottom: 200px;
}
article p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
ul.circle {
    list-style-type: circle;
}
ol.alpha-lowercase{
    list-style-type: lower-alpha;
}
footer {
    clear: both;
    border-top: 2px solid darkgoldenrod;
}
footer p{
    text-align: center;
}